<h2> Edit your article! </h2>

<%= form_for([@category, @article]) do |f| %>
  Title: <%= f.text_field :title %>
  Description: <%= f.text_field :description %>
  Price: <%= f.text_field :price %>
  <%= f.submit %>
<% end %>
